<div id="loader" class="overlay fade">
	<img src="/img/loader-white.svg" alt="">
</div>

<div id="report" class="overlay fade hidden">
	<div id="report-msg" class="msg">
		<div id="sorry" class="sorry fade hidden display-none">We couldn't find a path.  Sorry about that!</div>
		<div id="report-title" class="title"></div>
		<div id="report-txt" class="txt"></div>
		<div id="report-btn" class="btn"></div>
		<div id="report-dismiss" class="dismiss">{{> dismiss-btn}}</div>
	</div>
</div>

<div id="share" class="overlay fade fade-out">
	<div class="msg">
		<p id="share-msg">Share this WordBridge between <span id="share-dek"></span></p>
		{{!-- <input id="url" contenteditable=true readonly=false> --}}
		<div class="share-item" id="link"><span>Copy the link</span></div>
		<div class="share-item" id="email"><span>Email the link</span></div>
		{{!-- <div class="share-item" id="fb">Facebook</div> --}}
		<div class="share-item" id="tw"><span>Share it on Twitter</span></div>
		<div class="dismiss">{{> dismiss-btn}}</div>
	</div>
</div>

<div id="header">
	<div id="home-btn"><a href="/">home</a></div>
	<div id="share-btn"><span>share</span></div>
	<div id="about-btn"><span>about</span></div>
	<div id="plus" class="fade">
		<img src="/img/Fob+.svg">
	</div>
</div>

<div id="tooltips" class="closed">
	<div id="tip-wrap-wrap">
		<div id="tip-wrap">
			<div class="tip-close" onclick={closeTip()}>
				<img src="/img/mod-close.svg">
			</div>
			<div class="tip-text">Tip 1: Tap a word to see its definition.<br>Tip 2: Tap arrows to swap synonyms.</div>
		</div>
	</div>
</div>

<div id="chains">
	<div class="chain fade current" id="chain-0">
		<div class="nodes">
			{{#each data.chain}}
				<div class="node fade" data-word={{this.word}} data-index={{@index}} data-syndex={{this.syndex}}>
					<div class="word">
						<span class="fade visible" onclick={B.getDef();}>{{this.word}}</span>
					</div>
					{{#unless @first}}
						{{#unless @last}}
						<div class="mod-options">
							<div class="mod-close" onclick={B.closeModOptions(this,false);}>
								<img src="/img/mod-close.svg">
							</div>
							<div class="mod-btn" onclick={B.modifyChain(this);B.btnAnim(this);}>
								<img src="/img/mod-down-arrow.svg" alt="">
							</div>
							<div class="prev" onclick={B.newSyn(this);B.btnAnim(this);}>
								<img src="/img/mod-left-arrow.svg" alt="">
							</div>
							<div class="next" onclick={B.newSyn(this);B.btnAnim(this);}>
								<img src="/img/mod-right-arrow.svg" alt="">
							</div>
						</div>
						<div class="mod-open" onclick={B.openModOptions(this)}>
							<img src="/img/mod-open.svg" class="active">
							<img src="/img/mod-open-disabled.svg" class="disabled">
						</div>
					{{/unless}}
				{{/unless}}
				</div>
			{{/each}}
		</div>
	</div>
</div>

<div id="chain-nav">
	<div id="inner-chain-nav">
		<div id="prev-chain" class="chain-btn">
			{{> prev-arrow}}
		</div>
		<div id="dots">
			<div class="chain-dot" onclick={B.showChain(0)}></div>
		</div>
		<div id="next-chain" class="chain-btn">
			{{> next-arrow}}
		</div>
	</div>
</div>

<script type="text/javascript">
	B = {}; // need B for helpers
</script>
<script src="/js/helpers.js"></script>
<script src="/js/search.js"></script>
<script src="/js/new.js"></script>
<script src="/js/mod.js"></script>
<script src="/js/def.js"></script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		const d = {{{json data}}};
		B.currentChain = 0;
		B.chains[B.currentChain] = d.chain;
		B.startWord = d.start;
		B.endWord = d.end;
		B.queryStrings.push(d.queryString);
	});
	function closeTip() {
		const tt = document.getElementById('tooltips');
		tt.classList.replace("open", "closed");
		tt.addEventListener('transitionend', tt.remove);
	}
</script>
<script src="/js/share.js"></script>