extends layout
block content
	div.error
		div.msg
			div.sorry= "We couldn't find a path. Sorry about that!"
			div.errormsg
			div.ok
				a="OK"
	div#hamburger
		ul
			li
				a(href="/")="New Search"
			li
				a(href="#")="About SynoPath"


	div#main
		header
			a.menu
				svg(class="stroke" width="22" height="22" viewBox="0 0 20 20")
					path(fill="none" stroke="#C7C8CA" stroke-width="2" stroke-linecap="round" d="M17.2 7.6H1.1M17.2 1.2H1.1M17.2 14H1.1")
		div.index
			form(method="get", action="/search")
				input(type="text",  name="start")
				input(type="text",  name="end")
				input(type="hidden",value="10",name="nodelimit")
				input(type="hidden",value="10",name="synonymlevel")
				input(type="submit", value="search")
			div.ldr
				img(src="/images/loader.svg")

	// ** javascript ** // 
	script(type="text/javascript").

		$('input[value="search"]').on('click', function() {
			$('.ldr').fadeIn().css("display","inline-block");;
			$(this).fadeOut(10);
			$('input[type="text"]').animate({
				"background-color":"transparent"
			}, 500);
		});
		
		$('.menu').on('click', function() {
			$('#hamburger').fadeIn(500);
		});
		$('#hamburger').on('click', function() {
			$(this).fadeOut();
		});

		function reportError(errmsg) {
			$('.error').fadeIn();
			$('.errormsg').text("Note: " + errmsg);
			$('.ok').on('click', function() {
				$('.error').fadeOut();
			});
			location.hash = "";
		}
		if ("#{errmsg}") reportError("#{errmsg}");
