extends layout
block content
	div#sidebar
		ul
			li
				a(href="/")="new search"
			li
				a(href="#")="about synopath"
			li
				a(href="#")="how it works"
			li
				a(href="#")="feedback"


	div#main
		header
			a.menu
				svg(class="stroke" width="22" height="22" viewBox="0 0 20 20")
					path(fill="none" stroke="#C7C8CA" stroke-width="2" stroke-linecap="round" d="M17.2 7.6H1.1M17.2 1.2H1.1M17.2 14H1.1")
		div.index
			form(method="get", action="/search")
				input(type="text",  name="start")
				input(type="text",  name="end")
				input(type="hidden",value="10",name="nodelimit")
				input(type="hidden",value="10",name="synonymlevel")
				input(type="submit", value="search")
			if errormsg					
				div.errormsg=errormsg
			div.msg
				img(src="/images/loader.svg")

	// ** javascript ** // 
	script(type="text/javascript").

		$('input[value="search"]').on('click', function() {
			$('.msg').fadeIn().css("display","inline-block");;
			$('.errormsg').fadeOut();
			$(this).fadeOut();
			$('input[type="text"]').animate({
				"background-color":"transparent"
			}, 500);
		});
		
		// ** sidebar menu ** //
		var menu = false;
		var sidebarOffset = $('#sidebar').width();
		$('#sidebar').css('left', -sidebarOffset);
		function openMenu() {
			if (!menu) {
				$('#main').animate({
					'left': sidebarOffset
				}, 500);
				$('#sidebar').animate({
					'left': 0
				}, 500);
				menu = true;
			} else {
				$('#main').animate({
					'left': 0
				}, 500);
				$('#sidebar').animate({
					'left': -sidebarOffset
				}, 500);
				menu = false;
			}
		}
		$('.menu').on('click', openMenu);

		if ("#{errmsg}") alert("#{errmsg}");
