<!-- search  -->




<div id="main">
	<header>
		<div id="home">
			<img src="/img/arrow_stop.svg">
		</div>
		<div id="plus">
			<svg xmlns="http://www.w3.org/2000/svg" width="53" height="50">
				<path d="M0 0h53v50H0V0z" fill="none" id="plusbkg"/>
				<path fill="none" stroke="#070707" stroke-width="3" d="M17.312 25.005h18.377m-9.194 9.183V15.812"/>
			</svg>
		</div>
		<div id="share">
			<img src="/img/share.svg">
		</div>
	</header>
	
	<div id="report">
		<div id="report-msg" class="msg">
			<div id="report-txt" class="text"></div>
			<div id="report-btn" class="btn"></div>
			
		</div>
	</div>

	

	<div id="chains">
		<div class="chain current" id="chain-0">
			<div class="nodes">
				{{#each data.chain}}
					<div class="node fade" data-word={{this.word}} data-index={{@index}} data-syndex={{this.syndex}}>
						{{#if @first}}
							<div class="word def">{{this.word}}</div>
						{{else if @last}}
							<div class="word def">{{this.word}}</div>
						{{else}}
							<div class="word def">{{this.word}}</div>
							<div class="mod-options">
								<div class="mod-close">
									<img src="/img/mod-close.svg">
								</div>
								<div class="mod-btn">
									<img src="/img/mod-down-arrow.svg" alt="">
								</div>
								<div class="prev">
									<img src="/img/mod-left-arrow.svg" alt="">
								</div>
								<div class="next">
									<img src="/img/mod-right-arrow.svg" alt="">
								</div>
								
							</div>
							<div class="mod-open">
								<img src="/img/Arrow-Right.svg" class="active">
								<img src="/img/Arrow-Right-Disabled.svg" class="disabled">
							</div>
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>


<script type='text/javascript'>
	
	B.chain = {{{json data}}};
	B.tooltips = {{{json tips}}};
	/*console.log(data);*/
</script>
