extends layout
block content

	div#report
		div.msg
			div.text
			div.btn
			div.dismiss
				img(src="/img/dismiss.svg")

	div#error
		div.msg
			div.sorry
			div.errormsg
			div.ok
				div="Ok"

	div.sharemenu
		div.msg
			p="Share SynoMapp:"
			p=data.start + "..." + data.end 
			div.sh.email="Email"
			div.sh.fb="Facebook"
			div.sh.tw="Twitter"
			//- div.sh.copy="Copy link"

	div#newpathloader
		img(src='/img/loader.svg')
					
	div#main
		header
			div.home
				img(src="/img/arrow_stop.svg")
			div.plus
				img(src="/img/new.svg")
			div.share
				img(src="/img/share.svg")
											

		div.path-dots.slidedown.pathdotcontainer
			div.dots
				div.path-dot(id="p-0")

		div#paths
			div.path(id="path-0")
				div.nodes
					each node, index in data.chain
						if index == 0 || index == data.chain.length - 1
							div.node-wrap=node.word
						else 
							- var dad = data.chain[index + (index > (data.chain.length)/2 ? 1 : -1)]
							div.node-wrap
								div.inner-nodes
									if dad.synonyms
										for alt in dad.synonyms
											if alt.word == node.word
												div.node.thenode=alt.word
											else
												div.node.alternate=alt.word
									else
										div.node.thenode=node.word

	script(src="/js/search_helpers.js", type="text/javascript")
	script(type="text/javascript").
		window.data = !{JSON.stringify(data)};
		console.log(data)
	script(src="/js/search.js" type='text/javascript')
	script(src="/js/def.js" type='text/javascript')
	script(src="/js/mod.js" type='text/javascript')
	script(src="/js/new.js" type='text/javascript')