extends layout
block content
	div.menu
		img(src="/images/dots.png")

	div.adjust
		form(method="post", action="/search")
			input(type="hidden",name="start",value=start)
			input(type="hidden",name="end", value=end)
			label(for="nodelimit")="Results"
			input(type="range",min=1,max=20,value=nodelimit,id="nodelimit",name="nodelimit")
			label(for="synonymlevel")="Search"
			input(type="range",min=1,max=20,value=synonymlevel,id="synonymlevel",name="synonymlevel")
			input(type="submit", value="Enter")

	div.nodes
		each node in path
			div.node-dad
				div.node(id=node)=node

	script(type='text/javascript').
		var nodes = $('.node-dad');
		for (var i = 0; i < nodes.length; i++) {
			var showNode = function(num) {
				setTimeout( function() {
					$(nodes[num]).fadeIn();
				}, num*500);
			}(i);
		}
		function openMenu() {
			if ($('.adjust').css('display') == 'none')
				$('.adjust').slideDown();
			else 
				$('.adjust').slideUp();
		}
		$('.menu').on('click', openMenu);
		$('input[value="Enter"]').on('click', function(e) {
			$('.adjust').slideUp();
			for (var i = 1; i < nodes.length - 1; i++) 
				$(nodes[i]).fadeOut();
			var ldr = $('<img>').attr({'class':'ldr', 'src':'images/ldr.gif'});
			$(nodes[0]).after(ldr);
		});