<!-- search  -->
<div class="sharemenu">
	<div class="msg">
		<p>Share Synomap</p>
		<p>{{data.start}} ... {{data.end}}</p>
		<div class="sh email">Email</div>
		<div class="sh fb">Facebook</div>
		<div class="sh tw">Twitter</div>
		<div class="dismiss">
			<img src="/img/dismiss.svg" alt="">
		</div>
	</div>
</div>

<div id="newpathloader">
	<img src="/img/loader.svg" alt="">
</div>

<div id="main">
	<header>
		<div class="home">
			<img src="/img/arrow_stop.svg" alt="">
		</div>
		<div class="plus">
			<img src="/img/plus.svg" alt="">
		</div>
		<div class="share">
			<img src="/img/share.svg" alt="">
		</div>
	</header>
	
	<div id="report">
		<div class="msg">
			<div class="text"></div>
			<div class="btn"></div>
			<div class="dismiss">
				<img src="/img/dismiss.svg" alt="">
			</div>
		</div>
	</div>

	<div class="path-dots slidedown pathdotcontainer">
		<div class="dots">
			<div class="path-dot" id="p-0"></div>
		</div>
	</div>

	<div id="paths">
		<div class="path" id="path-0">
			<div class="nodes">
				{{#each data.chain}}
					{{#if @first}}
						<div class="node-wrap">{{this.word}}</div>
					{{else if @last}}
						<div class="node-wrap">{{this.word}}</div>
					{{else}}
						<div class="node-wrap">
							{{this.index}}
							<div class="node" data-index={{@index}} data-syndex={{this.syndex}}>
								{{this.word}}
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script src='/js/search_helpers.js' type='text/javascript'></script>
<script src='/js/jquery.doubletap.js', type='text/javascript'></script>
<script type='text/javascript'>
	window.data = {{{json data}}};
	window.tooltips = "{{tooltips}}";
	console.log(data);
</script>
<script src='/js/search.js' type='text/javascript'></script>
<script src='/js/def.js' type='text/javascript'></script>
<script src='/js/mod.js' type='text/javascript'></script>
<script src='/js/new.js' type='text/javascript'></script>
